body {
  background: #DDD;
  margin: 2em 10%; 
}

div#zona-voo {
  position: absolute;
  top: 0px;
  left: 0px;
  height:500px;
  width:100%;
}

.aegypti {
  display: block;
  position:fixed;
  width: 50px;
  height: 50px;
  margin: 2% auto;
  background: url('aedes.png') left center;
  animation: play .2s steps(6) infinite;
  z-index: 10;
}

@keyframes play {
    100% { background-position: -300px; }
}

